<%  columns = @rows.first.attributes.keys
    if columns.include? '_meta'
      columns.delete '_meta'
      meta = true
    end
%>
<table>
  <tr>
    <% columns.each do |column| %>
        <th>
          <%= column.humanize %>
        </th>
    <% end %>
  </tr>
  <% @rows.each do |row| %>
      <%= render partial: 'break', locals: {row: row} if meta && row['_meta'].present? %>
      <tr>
        <% columns.each do |column| %>
            <td>
              <%= ([*row[column]].join '<br>').html_safe %>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>
