<% columns = @rows.first.attributes.keys
   if columns.include? '_meta'
     columns.delete '_meta'
     has_meta = true
   end
%>
<table>
  <tr>
    <% columns.each do |column| %>
        <th>
          <%= column.humanize %>
        </th>
    <% end %>
  </tr>
  <% @rows.each do |row| %>
      <% if has_meta && row['_meta'] != {} && (meta = row['_meta'])%>
          <%= render partial: 'break',
              locals: {meta: meta['break']} if meta['break'].present? %>
          <% col_overrides = meta %>
      <% end %>
      <tr>
        <% columns.each do |column| %>
            <% if col_overrides && col = (col_overrides['raw'][column] rescue nil) %>
                <%= col.html_safe %>
            <% else %>
                <td>
                  <%= ([*row[column]].join '<br>').html_safe %>
                </td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
</table>
